<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
  </head>
  <body>
    <h1>{{ .Title }}</h1>
    <p>
     Hi all! If you find any any errors in <a href="https://www.manning.com/books/amazon-web-services-in-action"><b><i>Amazon Web Services in Action</i></b></a> not listed below, or just find something that you think is not well explained, it would be most appreciated if you would post in the book's <a href="https://forums.manning.com/forums/amazon-web-services-in-action">Author Online Forum</a> so that they may be collected here for everyone's benefit. Thanks!
    </p>
